.display{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: #e9d6f5;
    padding: 10px 20px
}
.display img{
    height: 50px;
}
.display__nav__list {
    display: flex;
    list-style: none;
}
.display__nav__list li {
    margin: 0 15px; 
}
.display__nav__list li a{
    text-decoration: none; 
    font-size: 16px; 
}
.display__nav__list li a:hover{
    color: #5c8cd7;
}
.display{
    position: sticky;
    width: 100%;
    top: 0%;
    z-index: 1;
}