.courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 25px;
    
    &__cont {
        text-align: center;
        width: 30%; 
        margin-bottom: 30px;
        margin-top: 30px;
        background-color: $color-cont;
        border-radius: 8px;
        box-shadow: 0 2px 4px $color-shadows;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        
        &:hover {
            transform: translateY(-5px); 
            box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
        }

        .courses__cont h2 {
            margin-bottom: 20px;
            margin-top: 60px;
            font-size: x-large;
            color: $color-p_nd;
            
        }

        p {
            padding: 20px;
            text-align: justify;
            font-weight: 500;
            color: $color-p_nd;
            font-size: 600;
            
        }

        img {
            width: 100%;
            padding: 10px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px; 
        }
    }
}
