@media only screen and (min-width: 601px) and (max-width: 1023px) {
    .inicio__cont {
        flex-direction: column; 
        align-items: center;
        
        img {
            margin: 10px 0;
        }
        
        &__parrafo {
            font-size: medium;
            width: 90%; 
            margin: 20px 0; 
        }
    }

    .courses__cont {
        width: 60%; 
    }

    .contenedor-aboutme {
        img {
            width: 100%;
            max-width: 300px;
            border-radius: 50%;
            margin: 50px 100px 10px 100px;
        }
        
        p {
            max-width: 1000px;
            font-size: map-get($j-fontsizes , sm );
            margin: 90px 0; 
        }
    }

    .goals__cont {
        justify-content: center;

        &__list {
            width: 60%; 
            margin: 0 5px;

            li {
                background-color: #eaeefb; 
                box-shadow: 0 0 10px #e8f1f3;
                padding: 10px;
            }
        }

        img {
            width: 60%;
            max-width: none;
            margin: 50px auto; 
        }
    }

    .contact {
        grid-template-columns: 1fr;

        &__cont, .playlist__cont {
            margin-bottom: 20px;
        }
    }

    .footer__left-icons,
    .footer__right-logo {
        justify-content: center; 
        margin-bottom: 25px; 
        
        img {
            height: 30px; 
        }
    }

    .footer__center-text {
        text-align: center;
        font-size: 15px; 
        color: #888; 
        margin-bottom: 10px; 
        
        p {
            margin: 0;
        }
    }
}


@media only screen and (min-width: 320px) and (max-width: 600px) {
    .titulo {
        font-size: medium;
        margin-top: 20px;
    }
    
    .inicio__subtitulo {
        font-size: small;
        margin: 10px;
    }
    
    .inicio__cont {
        flex-direction: column;
        align-items: center;

        img {
            width: 100%; 
            margin: 25px 0 100px 0; 
        }

        &__parrafo {
            font-size: smaller;
            width: 100%; 
            height: auto; 
            margin: 30px 0 25px 0; 
        }
    }

    .courses__cont {
        width: 90%; 
    }

    .contenedor-aboutme {
        img {
            width: 100%;
            max-width: 250px;
            border-radius: 50%;
            margin: 10px 100px 20px 100px;
        }
        
        p {
            max-width: 900px;
            font-size: small;
        }
    }

    .goals__cont {
        justify-content: center; 
        flex-direction: column; 
        align-items: center;

        &__list {
            width: 100%; 
            margin: 10px 0;
        }

        img {
            width: 60%; 
            max-width: none;
            margin: 20px auto; 
        }
    }

    .contact {
        grid-template-columns: 1fr;
        margin: 20px 0;

        &__cont,
        .playlist__cont {
            padding: 15px;
            max-width: 80%;
        }

        &__form {
            input,
            textarea {
                padding: 15px;
                font-size: 14px;
            }

            input[type="submit"] {
                padding: 10px;
                font-size: 14px;
            }
        }

        .playlist__cont-embed iframe {
            height: 300px;
        }
    }

    .footer__left-icons,
    .footer__right-logo {
        flex-direction: column; 
        justify-content: center; 
        text-align: center; 
        margin-bottom: 5px;

        img {
            height: 20px;
            margin: 10px 15px 10px 5px;
        }
    }
    
    .footer__right-logo img {
        height: 25px;
        margin: 10px 15px 10px 5px;
    }
    
    .footer__center-text {
        text-align: center;
        font-size: 12px; 
        margin-bottom: 5px;

        p {
            margin: 0; 
        }
    }
}
