.goals__cont {
    display: flex;
    align-items: flex-start; 
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px; 
    margin: 0 auto;  

    &__list {
        list-style-type: none;
        margin: 0 20px;
        width: 30%;
        text-align: left;

        &-left {
            order: 1;
        }

        &-right {
            order: 3;
        }

        li {
            @include espacios (15px, 25px);
            font-size: larger; 
            line-height: 2;
            background-color:$color-cont;
            box-shadow: 0 0 10px $color-shadows;
            border-radius: 10px; 
        }
    }

    img {
        order: 2;
        width: 60%;
        max-width: 350px;
        margin: 150px 20px 0px 20px;
    }
}
